<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/divert.css">
</head>
<body>
    <div class="navbar">
        <h1>Pune Tourism </h1>
        <h2>Manage Listing </h2>
    </div>
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
    <article id="Listings">

    <form action="/admin/list-place/hotel-form" method="get">
        <button type="submit">List a Hotel</button>
    </form>
    <form action="/admin/list-place/restaurent-form" method="get">
        <button type="submit">List a Restaurent</button>
    </form>
    <form action="/admin/list-place/activity-form" method="get">
        <button type="submit">List a Activity</button>
    </form>
    <form action="/admin/list-place/market-form" method="get">
        <button type="submit">List a Market</button>
    </form>

    </article>
    

    <article id="Viewing"> 

    <form action="/admin/view-hotels" method="get">
        <button type="submit">View all Hotels</button>
    </form>
    <form action="/admin/view-restaurants" method="get">
        <button type="submit">View all Restaurant</button>
    </form>
    <form action="/admin/view-markets" method="get">
        <button type="submit">View all Markets</button>
    </form>
    <form action="/admin/view-activities" method="get">
        <button type="submit">View all Activities</button>
    </form>

    </article>
 



</body>
</html>